variable "aws_region" {
   default = "us-east-1"
}

variable "availability_zones" {
   type    = list(string)
   default = ["us-east-1a", "us-east-1b", "us-east-1c"]
}

variable "project_name" {
   default = "xxxxxxxx"
}

variable "stage" {
   default = "dev"
}

variable "image_version" {
   default = "latest"
}

variable "master_password" {
   default = "xxxxxxxxxxxxx"
}

variable "master_username" {
   default = "xxxxxxxxx"
}

variable "account" {
   default = "xxxxxxxxxxxxxxx"
}

variable "key_pair_name" {
   default = "xxxxxxxxxx"
}

variable "vpc_id" {
  default = "vpc-xxxxxxxxxxxx"
}

variable "aws_access" {
   default = "XXXXXXXXXXXXXXX"
}

variable "aws_secret" {
   default = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}

variable "log_group_name" {
   default = "ecs/fargate"
}

variable "subnet1_id" {
   default = "subnet-xxxxxxxx"
}

variable "subnet2_id" {
   default = "subnet-xxxxxxxxx"
}